<div class="signup-container">
  <div class="signup-box">
    <h2>Sign Up</h2>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm" novalidate>
      <div class="input-group">
        <label for="username">Username:</label>
        <input 
          type="text" 
          id="username" 
          [(ngModel)]="username" 
          name="username" 
          #usernameField="ngModel"
          required
          class="form-control"
        >
        <div *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched)" class="error-message">
          <span *ngIf="usernameField.errors?.['required']">Username is required.</span>
        </div>
      </div>
      <div class="input-group">
        <label for="email">Email:</label>
        <input 
          type="email" 
          id="email" 
          [(ngModel)]="email" 
          name="email" 
          #emailField="ngModel"
          required 
          email
          class="form-control"
        >
        <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="error-message">
          <span *ngIf="emailField.errors?.['required']">Email is required.</span>
          <span *ngIf="emailField.errors?.['email']">Please enter a valid email address.</span>
        </div>
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input 
          type="password" 
          id="password" 
          [(ngModel)]="password" 
          name="password" 
          #passwordField="ngModel"
          required 
          minlength="6"
          class="form-control"
        >
        <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="error-message">
          <span *ngIf="passwordField.errors?.['required']">Password is required.</span>
          <span *ngIf="passwordField.errors?.['minlength']">Password must be at least 6 characters long.</span>
        </div>
      </div>
      <button 
        type="submit" 
        [disabled]="registerForm.invalid"
        class="btn"
        [ngClass]="{'btn-disabled': registerForm.invalid}">
        Sign Up
      </button>
      <div *ngIf="registerForm.invalid && (usernameField.dirty || emailField.dirty || passwordField.dirty)" class="error-message">
        <span *ngIf="registerForm.invalid">Please correct the errors in the form before submitting.</span>
      </div>
    </form>
  </div>
</div>
